body {
  width: 1920px;
  height: 1080px;
  margin: 0;
  padding: 0;

  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;	
  color: #ffffff;
  
  background-color: #1F4C30;
  background-image: url("../img/fonlion.png");
  background-repeat: no-repeat;
}

.header { /* выравнивание и размеры эдера */
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1828px;
  height: 60px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 642.75px;
  padding: 0;
}

.navigation__list { /* выравнивание и размеры группы навигации */
  display: flex;
  justify-content: space-between;

  width: 349px;
  height: 48px;
}

.navigation__link { /* оформление текста навигации */
  font-weight: 500;
  font-size: 25px;
  line-height: 37.5px;
  color: #ffffff;
  text-decoration: none;
}

.line { /* что-то приближенное к нужному подчеркиванию. через ::after не получилось */
  border-bottom: 10px solid #406343;
  border-radius: 2px;
}

.controls__list {  /* выравнивание и размеры группы поиска, логина и бургера */
  display: flex;
  justify-content: space-between;

  width: 165px;
  height: 35px;
}

li {
  list-style-type: none; /* убираем маркеры в хэдере */
 }

.button { /* убираем фон у кнопок */
  background: transparent;
  border: none;
}

.letters__lin { /* позиционируем буквы LI и N */
  position: absolute;
  top: 408px;
  left: 449px;
}

.content { /* делаем содержимое main флекс-элементами*/
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
}

.button__mouse { /* отступ между мышкой и кнопкой с видео */
  margin: 0;
  padding: 0;
  margin-left: 911.38px;
  margin-bottom: 18.75px;
}

.button__movie { /* оформление кнопки с видео */
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 380px;
  height: 80px;
  margin: 0;
  margin-left: 735px;
  padding: 0;

  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  color: #ffffff;
  text-decoration: none;

  background-color: #406343;
  box-shadow: -25px 0px 50px rgba(0, 0, 0, 0.1), 25px -25px 50px rgba(0, 0, 0, 0.1);;
  border-radius: 20px;
}

.text__movie { /* отступ между элементами кнопки с видео */
  margin-left: 20px;
}

.subtitle { /* позоционирование группы подзаголовка и текста */
  position: absolute;
  margin: 0;
  padding: 0;
  top: 674.64px;
  left: 1344px;
  width: 429px;
}

.subtitle__header {
  text-transform: uppercase;
  font-size: 30px;
}

.subtitle__text {
  font-style: regular;
  align: left;
  vertical-align: top;
  color: rgba(179, 179, 179, 0.8);
}

.navigation__link:hover {
  color: #406343;
  transition: 300ms;
}

.visually-hidden { 
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}