body {
  width: 1920px;
  height: 1080px;
  margin: 0;
  padding: 0;

  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;	
  color: #ffffff;
  
  background-color: #1F4C30;
  background-image: url("../img/fonlion.png");
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.header { /* выравнивание и размеры эдера */
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1828px;
  height: 60px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.navigation__list { /* выравнивание и размеры группы навигации */
  display: flex;
  justify-content: space-between;
  width: 349px;
  height: 48px;
}

.navigation__link { /* оформление текста навигации */
  font-weight: 500;
  font-size: 25px;
  line-height: 37.5px;
  color: #ffffff;
  text-decoration: none;
}

.controls__list {  /* ширина группы поиска, логина и бургера */
  display: flex;
  justify-content: space-between;
  width: 165px;
  height: 35px;
}

li {
  list-style-type: none; /* убираем маркеры в хэдере*/
 }

.content { /* выравниваем содержимое main по центру*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  background: transparent;
  border: none;
}

.lin {
  margin-top: 316px;
  margin-bottom: 119px;
}

.play__button {
  display: flex;
  align-items: center;
}

.buttontext { /* оформление текста кнопки */
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  color: #ffffff;
}

.subtitle {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 674.64px;
  left: 1344px;
}

.text {
  max-width: 429px;
}

.visually-hidden { 
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}